.sticky {
  width: 100%;
}


.top-bar, .top-bar ul {
	background-color:transparent;
	transition: background-color 0.7s linear;

}

.top-bar{
	padding: .5em;


}



body{ /* for demo purpose only */



}

.banner{
width: 80vw;
height: 40em;
background: url(city.svg) no-repeat center top;


}

.menu > li a {

	font-family: 'Indie Flower', cursive;
	color:#45b29a;
	font-size: 1.7em;
	font-weight: bold;

}

.menu > li a:hover{

	color:#0F8A6F;


}

.myname{
  font-family: 'Indie Flower', cursive;
  color:#0F8A6F;
  font-size: 1.7em;
  font-weight: bold;
}

#name, #skill{

	text-align: center;
	color:#45b29a;

}

#name{
	font-family:'Mr De Haviland', cursive;
	font-size: 8em;
	font-weight: bold;

}

#skill{
	font-family: 'Indie Flower', cursive;
	font-size: 2em;
}

.header{
	width: 100%;
	background-color: #e0ebe8;

}
.intro{
	margin-top: 100px;
}

.sectionOne > p{

	font-family: 'Quattrocento Sans', sans-serif;
	margin-top: 100px;
	text-align: center;
	color:#45b29a;
	font-size: 2.5em;
	font-weight: bold;

}
.sectionTwo > p{

	font-family: 'Quattrocento Sans', sans-serif;
	margin-top: 10px;
	text-align: center;
	color: #545454;
	font-size: 1.5em;
	font-weight: bold;
}



.sectionThree > p, .sectionSeven > p, .sectionNine > p{

	font-family: 'Quattrocento Sans', sans-serif;
	text-align: center;
	color: #1e836c;
	font-size: 2.5em;
	font-weight: bold;

}

.sectionFour .title{
	font-family: 'Quattrocento Sans', sans-serif;
	text-align: center;
	color:#45b29a;
	font-size: 2em;
	font-weight: bold;
	float: left;


}


.sectionFour .sub {
	font-family: 'Quattrocento Sans', sans-serif;
	margin-top: 10px;
	color: #545454;
	font-size: 1.5em;
	clear: both;
	font-weight: bold;

}

.hammer{
	transform: rotate(-360deg);
    transition: all 0.3s ease-in-out 0s;
}

.hammer:hover{
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;


}

.sectionFive .title, .sectionSix .title{
	font-family: 'Quattrocento Sans', sans-serif;
	text-align: center;
	color:#45b29a;
	font-size: 2em;
	font-weight: bold;
	float: left;


}


.email{
  font-family: 'Quattrocento Sans', sans-serif;
  color: #545454;
  font-weight: bold;
  font-size: 1.2em;
  display: inline;
  margin-right: 2em;
}

.fa-linkedin, .fa-github{
  color : #60be86;
  text-align: center;
  margin-right: .5em;
  font-size: 1.5em;
}

.fa-linkedin:hover, .fa-github:hover{
  color : green;
}
.download:hover{
  color : green;
}



.modelHead{
	font-family: 'Quattrocento Sans', sans-serif;
	text-align: center;
	color: #1e836c;
	font-size: 1.8em;
	font-weight: bold;
}

.reveal .sub{
	font-family: 'Quattrocento Sans', sans-serif;
	color: #545454;
	font-size: 1.2em;
	clear: both;
	font-weight: bold;
}



.sectionThree,.sectionFour,.sectionFive,.sectionSix,.sectionSeven,.sectionEight,.sectionNine{
	margin-bottom: 100px;
}



hr {

	margin-top: 80px;
	margin-bottom: 80px;
	width: .5em;
	height: .5em;
	border-radius: 50%;
	background: #cecece;
	box-shadow: 30px 0 #cecece, -30px 0 #cecece;

}

.css, .html5, .python,.javascript,.sql,.node,.jquery,.express,.react,.mongo,.sass,.java{
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 15px;
}

.whatIKnow p, .whatImLearning p{
	color: #545454;
	font-size: 1.2em;
	text-align: center;
	font-family: 'Quattrocento Sans', sans-serif;
	font-weight: bold;
}


.devicon-java-plain, .devicon-css3-plain, .devicon-html5-plain , .devicon-python-plain ,.devicon-javascript-plain,.devicon-postgresql-plain ,
.devicon-nodejs-plain ,.devicon-jquery-plain,.devicon-express-original,.devicon-react-original,.devicon-mongodb-plain,.devicon-sass-original{
	color : #60be86;
	font-size: 5em;
}

.devicon-java-plain:hover , .devicon-css3-plain:hover, .devicon-html5-plain:hover , .devicon-python-plain:hover ,.devicon-javascript-plain:hover,.devicon-postgresql-plain:hover,
.devicon-nodejs-plain:hover,.devicon-jquery-plain:hover,.devicon-express-original:hover,.devicon-react-original:hover,.devicon-mongodb-plain:hover,.devicon-sass-original:hover{
	color : green;

}


.card:hover{
	border-style: solid;
	border-color: #45b29a;
}

.card-title,.card-divider p{
	font-family: 'Quattrocento Sans', sans-serif;
	color:#45b29a;
	font-size: 1.5em;
	font-weight: bold;

}
.card-des{
	font-family: 'Quattrocento Sans', sans-serif;
	color: #545454;
	font-size: 1em;
	font-weight: bold;
}


.footer{
  margin-top: 100px;
  height: 8em;
  background-color:#e0ebe8;
  display: flex;
}

.orbit-container{
  min-height: 42em;
}

.card{
  height: 25em;
}
.frontImage{
  max-height: 12em;

}
.orbit-image{
  max-height: 42em;
  width: auto;
  display: block;
  margin: 0 auto;
}
.footerIn{
  display: flex;
}
.linkedin{
  align-content: center;
  margin-top: 2em;
}

.displayResume{
  display: flex;
}
